*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Reset */

body{
    font-family: sans-serif;
}

.container-centered{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.btn {
    border-radius: 25px;
    padding: .5em 2em;
}

.btn2 {
    border-radius: 25px;
    padding: .5em 5em;
    border: none;
    background-color: #1884FD;
    color: white;
}


/* Assets */


/* header */
header {
    background-color: #1884FD;
}
/* /header */

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5em 0;
}

nav .nav-right.desktop{
    display: none;
}

nav .nav-right.mobile .fa-solid{
    font-size: 1.5em;
    color: white;
}

/* /Nav */

/* Main */

main .showcase{
    display: flex;
    flex-flow: wrap;
    gap: 1em;

    margin: 3em 0;
}

main .showcase .card{
    width: 100%;
    background-color: #B5DDFF;
    border-radius: 20px;

    padding: 1.5em;
    text-align: center;
}

main .showcase .card:first-child{
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    padding-bottom: 0;
    text-align: left;
}

main .showcase .card .card-inner > img {
    display: block;
    width: 100%;
}

main .showcase .card h2{
    color: #1884FD;
}

main .showcase .card p{
    margin: 1.5em 0;
}

main .showcase .card .fa-solid{
    font-size: 5em;
    margin-bottom: 20px;
    color: #1884FD;
}

main .planning {
    background-color: #9792E4;
}

main .planning .planning-container{
    display: flex;
    flex-flow: row wrap;

    padding: 2em 0;
}

main .planning .planning-left > img{
    width: 100%;
    margin: 2em 0;
}

main .planning .planning-left h2, 
main .planning .planning-left p {
    color: white;
    padding-bottom: 2em;
}

main .planning .planning-right {
    background-color: white;
    border-radius: 50px;

    text-align: center;
    padding: 1.5em;
}

main .planning .planning-right > img{
    width: 100%;
    margin: 1em 0;
}

main .planning .planning-right p{
    padding: 2em 0;
    font-style: italic;
}

main .planning .planning-right .fa-arrow-down {
    padding: 1em 1.15em;
    background-color: #9792E4;
    border-radius: 50%;
}



/* /Main */
